@import url("styles/header.css");
@import url("styles/banner.css  ");
@import url("styles/carrosel.css  ");
@import url("styles/topicos.css  ");

:root{
    --cor-fundo: #EBECEE;
    --branco: #FFF;
    --laranja: orange;
    --azul-degrade: linear-gradient(97.54deg, #002f52 35.49%, #326589 165.37%);
    --font: 'Poppins', sans-serif;
    --azul: #002f52;
}

body{
    background-color: var(--cor-fundo);
    font-family: var(--font);
    font-size: 16px;
    font-weight: 400;
}
