hr{
    margin: 0;
}

.rodape{
    background-color: var(--branco);
    padding: 1em;
    color: var(--azul);
}

.lista-rodape{
    display: none;
}


@media  screen and (min-width:1024px){
    .rodape{
        display: flex;
        justify-content: space-around;

    }

    .lista-rodape{
        display: flex;
        flex-direction: column;
        gap: 1em;
    }

    .lista-rodape__item{
        display: flex;
        align-items: center;
        gap: 0.5em;
    }

    .lista-rodape__link {
        text-decoration: none;
        color: #444;
    }

    .lista-rodape__titulo{
        font-size: 14px;
        color: #777;
    }

    .rodape__titulo{
        font-size: 24px;
    }
}

@media  screen and (min-width:1728px){
    .lista-rodape{
        border-left: 1px solid #777;
        padding-left: 1em;
    }

    .rodape{
        padding: 3em 0;
    }
}